<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="davidelettieri" value="https://nuget.pkg.github.com/davidelettieri/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <davidelettieri>
      <add key="Username" value="lox" />
      <add key="ClearTextPassword" value="%GITHUB_PAT%" />
    </davidelettieri>
  </packageSourceCredentials>
</configuration>
